flask==3.1.1
flask-cors==5.0.1
pymongo==4.12.1
PyJWT==2.10.1
bcrypt==4.3.0
groq==0.25.0
PyPDF2==3.0.1
python-dotenv==1.1.0

cloudinary==1.44.2
sib-api-v3-sdk
gunicorn==21.2.0
gevent==23.9.1
gevent-websocket==0.10.1
Flask-SocketIO==5.3.6
